.body_background 
{
    background-image: url("avenger_bg.jpg");
    background-position: center;
    background-size: cover;
}
#mycanvas
{
    border-width:10px;
    background-color:rgb(223, 223, 223) ; 
    border-style:ridge;
}

#head_info{
    background-color: chartreuse;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
	background-color: crimson;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
